<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h3>Flask cookie</h3>
    <form method="POST">
      Username: <input type="text" name="username" /><br />
      <button type="submit">simpan</button>
    </form>
    {% if username %}
    <p>Cokkie ditemukan: {{username}}</p>
    {% endif %}
  </body>
</html>
